@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: white;
  font-weight: 100;
}

body {
  color: white;
  background-color: #121212;
}

.reps-sets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reps p {
  margin-right: 10px;
}

.sets p {
  padding-left: 10px;
}

.workout {
  border-radius: 20px;
  margin-bottom: 10px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.workout > p {
  position: relative;
  top: 0.2em;
}

.exercise {
  background-color: #1e1e1e;
  border-radius: 15px;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.33em;
  padding-bottom: 0.33em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  transition: transform 0.1s ease;
}

.exercise:hover {
  transform: scale(1.1);
}
/*   transition: transform 0.1s ease; */

/* transform: scale(1.1); */

/* buttons */

button {
  border-radius: 20px;
  border: solid 1.5px black;
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.reps button {
  border: none;
  color: black;
}

#dots {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1.5em;
  position: relative;
  top: -50px;
  left: 240px;
}

.add {
  border: none;
  color: black;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.exercise > p button {
  border: none;
  background: none;
}

/* forms/inputs */

.workoutForm input,
.setForm input,
.exerciseForm input {
  display: flex;
  border-radius: 20px;
  border: solid 1.5px black;
  color: black;
}

.workoutForm button,
.setForm button,
.exerciseForm button {
  margin-top: 1em;
}

/*  Hamburger  */

#menu {
  position: relative;
  list-style: none;
  padding: 0;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#menu li {
  padding: 10px;
}
