@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.reps-sets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.reps p {
  margin-right: 10px; 
}

.sets p {
  padding-left: 10px;
}

.workout {
  border: 1.5px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.exercise {
  border: 1.5px solid #189ad3;
  border-radius: 20px;
  margin: 10px;

}

/* buttons */

button {
  border-radius: 20px;
  border: solid 1.5px black;
  outline: 0;
}

.reps button {
  background-color: red;
}

/* forms/inputs */

.workoutForm input, .setForm input {
  display: flex;
  border-radius: 20px;
  border: solid 1.5px black;
}

.workoutForm button, .setForm button {
  margin-top: 1em;
}
         
