* {
  box-sizing: border-box;
}

.reps,
.sets {
  display: flex;
  flex-direction: row;
}

.reps p {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 128, 172, 1) 0%,
    rgba(0, 128, 172, 1) 70%,
    rgba(0, 128, 172, 0) 70.3%
  );
  height: 1%;
  width: 1%;
  margin-right: 70px;
  text-align: center;
}

.sets p {
  padding-right: 5px;
  text-decoration: underline;
}

.workout {
  border: 2px solid black;
  margin-bottom: 10px;
}

.exercise {
  border: 2px solid red;
  margin-bottom: 10px;
}

/* The idea is to display the workouts as cards
Exercises will also be individual cards inside the workout card */
