@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.reps-sets-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.reps p {
  margin-right: 10px; 
}

.sets p {
  padding-left: 10px;
}

.workout {
  border: 1.5px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.exercise {
  border: 1.5px solid #189ad3;
  border-radius: 20px;
  margin: 10px;

}

/* buttons */

button {
  border-radius: 20px;
  outline: 0;
}
         
/* The idea is to display the workouts as cards
Exercises will also be individual cards inside the workout card */
